[class^="derivative-text-explaination"] {
    font-family: 'Jersey 10', system-ui;
    font-size: 30px;
    background-color: #16171d;
    border: none;
    width: 1050px;
    resize: none;
}

[class^="dsim-page"] {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

[class^="dsim-page"]:hover {

    color: purple;
}

.derivative-pic {
    margin-top: 30px;
    width: 500px;
}

.derivative-text-explainationshort {
    height: 50px;
    color: rgb(188, 119, 204);
}

.derivative-text-explaination1 {
    margin-top: 50px;
    height: 250px;
    margin-top: 30px;
}

.derivative-text-explaination2 {
    height: 200px;
    margin-top: 10px;
}

.derivative-text-explaination3 {
    color: rgb(188, 119, 204);
    height: 200px;
    margin-top: 10px;
}

.derivative-text-explaination4 {
    height: 50px;
    margin-top: 30px;
}

.derivative-text-explaination5 {
    height: 50px;
}

.derivative-text-explaination6 {
    height: 250px;
}

.derivative-text-explaination7 {
    height: 50px;
    color: rgb(188, 119, 204);
}

.derivative-text-explaination8 {
    height: 80px;
}

.derivative-text-explaination9 {
    height: 120px;
}

.derivative-text-explaination10 {
    height: 80px;
    margin-top: 30px;
}

.derivative-text-explaination11 {
    height: 450px;
    color: rgb(188, 119, 204);
}


.dsim-page-numbers {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Jersey 10', system-ui;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: 50px;
}

.dsim-page-purple {
    color: rgb(188, 119, 204);
}

.dsim-bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.dsim-info-source {
    font-family: 'Jersey 10', system-ui;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}